<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Welcome back</h2>
    <form action="/login" method="post">
      <div>
        <div>User Name</div>
        <input type="text" name="username" />
      </div>
      <div>
        <div>Password</div>
        <input type="password" name="password" />
      </div>
      <button type="submit">Login</button>
    </form>
    <div>
      <div>Not a member?</div>
      <a href="/signup">Sign up</a>
    </div>
  </body>
</html>
