<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
  </head>
  <body class="bg-blue-900 flex flex-col items-center text-white">
    <div class="py-20">
      <h2 class="text-white text-3xl font-bold p-5 text-center">Login</h2>
      <form action="/login" method="post" class="">
        <div class="mb-6">
          <input
            type="text"
            id="username-input"
            name="username"
            placeholder="Username"
            class="resize-none bg-white text-black font-medium text-lg w-full rounded-md p-1"
          />
        </div>
        <div class="mb-6">
          <input
            type="password"
            id="password-input"
            name="password"
            placeholder="Password"
            class="resize-none bg-white text-black font-medium text-lg w-full rounded-md p-1"
          />
        </div>
        <button
          type="submit"
          class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full w-full"
        >
          Login
        </button>
        <div class="text-center">
          <div
            class="inline-block text-sm font-semibold mt-2 pt-1 mb-0 text-white"
          >
            Not a member?
          </div>
          <a
            href="/signup"
            class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out font-bold"
            >Sign up</a
          >
        </div>
      </form>
    </div>
  </body>
</html>
