<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
  </head>
  <body>
    <h3>Hi!</h3>
    <a href="/posts/new_post">New Post</a>
    <a href="/logout">Log out</a>
    <% articles.forEach(article => { %>
    <ul>
      <li>
        <div>
          <h4><%= article.Title %></h4>
          <p><%= article.Content %></p>
          <a href="/posts/edit/<%= article.Id %> ">Edit</a>
          <form
            action="/posts/delete/<%= article.Id %>?_method=DELETE"
            method="post"
          >
            <button type="submit">Delete</button>
          </form>
        </div>
        <div class="comment-input-container">
          <form action="/post_comment" method="post">
            <textarea name="CommentInput" cols="30" rows="2"></textarea
            ><button type="submit">Comment</button>
          </form>
        </div>
        <div class="comment-list-container"></div>
      </li>
    </ul>
    <%}) %>
    <script>
      const comments = document.getElementsByClassName("");
    </script>
  </body>
</html>
